.input {
  position: relative;

  &__box {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid var(--light-purple);
    outline: none;
    width: 100%;
    font-size: 15px;
    height: 40px;

    &-container {
      position: relative;
    }

    &::placeholder {
      color: var(--grey-50);
      font-size: 15px;
    }
  }

  &__currency {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
